#THEORY QUESTIONS
Q1. What are data structures, and why are they important?                       
Answer: Data structures are way of organising ,managing and storing data so that it can be accessed and manipulated  efficiently.                                        
Data structures helps to store and find information quickly.It also helps in solving complex problems.                                                      

Q2.Explain the difference between mutable and immutable data types with examples.                                                                      
Answer: Mutable data types are the ones that can be changed even after creation.Some examples of mutable data types  are list,set and so on.                     
Immutable data types on the other are the ones that cannot be changes after creation.Example of an immutable data type is a tuple.                         

Q3.What are the main differences between lists and tuples in Python?            
Answer:Differences between lists and tuples are:                                
i)List uses square brackets.                                                    
   Tuple uses paranthesis.                                                      
ii)Lists are mutable whereas tuples are immutable.                             

Q4.Describe how dictionaries store data.                                        
Answer: Dictionaries store the data in key value pairs.Dictionaries are mutable in python.                                                                      

Q5.Why might you use a set instead of a list in Python?                         
Answer: Sets are sometimes preferred to be use instead of a list in python because of its feature of having unique elements. It does not allow duplicate elements. Sets are mutable but it can get immutable by using frozen set.       

Q6. What is a string in Python, and how is it different from a list?            
Answer: String is a data type which contains a sequence of characters.          
String is a homogenous data type which means it only contains characters whereas list on the other hand is a heterogenous data structure which can contain any data types. Strings are immutable and lists are mutable.            

Q7.How do tuples ensure data integrity in Python?                               
Answer: Tuple is an ordered collection of elements that can be of any data types.Tuple ensures data integrity by being a immutable data type which means it cannot be changes after creation.                                            

Q8. What is a hash table, and how does it relate to dictionaries in Python?     
Answer: Hash table is a data structure which stores data in a way that allows for insertion and deletion.Hash table and dictionaries both stores the data in a key value pair.                                                               

Q9. Can lists contain different data types in Python?                           
Answer: List is a heterogenous data structure and hence can contain different data types in python.                                                           

Q10. Explain why strings are immutable in Python?
Answer: Strings are immutable and thus allowing multiple variables to store the same string object. Because it is immutable it can be used as key in dictionaries and elements in set.                                               

Q11. What advantages do dictionaries offer over lists for certain tasks?        
Answer: The values of the dictionaries can be accessed using keys.Dictionaries stores the data in key value pair. On the other list elements can only be accessed using indices. For eg; for a restraunt menu dictionaries are used instead of lists                                                                

Q12.Describe a scenario where using a tuple would be preferable over a list?    
Answer: Imagine storing the aadhaar card number and name of the person, here tuple would be more preferable over a list because here you dont want to change the number or the person's name.                                                

Q13. How do sets handle duplicate values in Python?                             
Answer: Sets discard the duplicate values. If an element has 1 or more than 1 occurrences then only the first occurence of the element will be stored and the rest will get discarded.                                                        

Q14.  How does the “in” keyword work differently for lists and dictionaries?    
Answer: The "in" keyword checks whether an element exists in a list. The "in" keyword in dictionaries  checks whether a specific key exits or not.            

Q15.Can you modify the elements of a tuple? Explain why or why not?             
Answer: No, we cannot modify the elements in a tuple. Tuples are immutable and hence cannot be modify after creation.                                          

Q16.What is a nested dictionary, and give an example of its use case?           
Answer: Nested dictionary is a dictionary within a dictionary. Example of a nested dictionary would be a library record system containg book and its details.                                                                        

Q17.Describe the time complexity of accessing elements in a dictionary.         
Answer: Accessing elements in a dictionary is fast, with an average time complexity O(1), due to its hash table implementation.
                                                                                

Q18.In what situations are lists preferred over dictionaries?                   
Answer: While adding items to a shopping cart lists are preferred over dictionaries.                                                                   

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?                                                                      
Answer: Dictionaries are unordered because their internal structure does not store elements in the sequence they are added. Dictionaries use hash table.One can access the elements by using key not by using index.Dictionaries donot support indexing.                                                               

Q20.Explain the difference between a list and a dictionary in terms of data retrieval.                                                                     
Answer: Elements of a list can be accessed by index. Elements of dictionaries can be accessed using key not by indexing.

#Practical Questions

Q1. Write a code to create a string with your name and print it.

In [1]:
name= input("Enter your name :")
print("My name is",name)

Enter your name :Khushi Singh
My name is Khushi Singh

Q2.Write a code to find the length of the string "Hello World."

In [2]:
string1= "Hello World."
print(len(string1))

12

Q3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
str1= "Python Programming"
print(str1[0:3])

Pyt

Q4.Write a code to convert the string "hello" to uppercase.

In [4]:
str1= "hello"
print(str1.upper())

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
str1="I like apple"
str2=str1.replace("apple","orange")
str2

'I like orange'

Q6.Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
L=[a for a in range(1,6)]
L

[1, 2, 3, 4, 5]

Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [10]:
L=[1,2,3,4]
L.append(10)
L

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [13]:
L=[1,2,3,4,5]
L.remove(3)
L

[1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [14]:
L=['a','b','c','d']
n=L.pop(1)
n

'b'

Q10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [17]:
L=[10,20,30,40,50]
print(L[::-1])

[50, 40, 30, 20, 10]

Q11.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [18]:
T=(10,20,30)
print(T)

(10, 20, 30)

Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [19]:
T=('apple','banana','cherry')
n=T[0]
n

'apple'

Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [20]:
T=(1,2,3,2,4,2)
n=T.count(2)
n

3

Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [22]:
T=('dog','cat','rabbit')
n=T.index("cat")
n+1

2

Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [23]:
T=('apple','orange','banana')
if "banana" in T:
  print("Banana is in the tuple.")
else:
  print("Banana is not in the tuple.")

Banana is in the tuple.

Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [24]:
s={1,2,3,4,5}
print(s)
print("The above is",type(s))

{1, 2, 3, 4, 5}
The above is <class 'set'>

Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [25]:
s={1,2,3,4}
s.add(6)
s

{1, 2, 3, 4, 6}

Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [26]:
T=(10,20,30)
print(T)

(10, 20, 30)

Q19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [27]:
T=('apple','banana','cherry')
t=T[0]
t

'apple'

Q20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [28]:
T=(1,2,3,2,4,2)
n=T.count(2)
n

3

Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [30]:
T=('dog','cat','rabbit')
n=T.index("cat")
n

1

Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [31]:
T=('apple','orange','banana')
if "banana" in T:
  print("Banana is in the tuple.")
else:
  print("Banana is not in the tuple.")

Banana is in the tuple.

Q23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [32]:
s={1,2,3,4,5}
print(s)
print("The above is",type(s))

{1, 2, 3, 4, 5}
The above is <class 'set'>

Q24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [33]:
s={1,2,3,4}
s.add(6)
s

{1, 2, 3, 4, 6}